.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: 100%; /* Ajusta el alto según tus necesidades */
}
