<mat-drawer-container class="container" autosize [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'" class="example-sidenav" mode="side">

        <section>
            <div class="example-button-row">
                <button mat-button [routerLink]="['']">
                    <img src="https://github.com/Jepolancodlc/PokePediax/blob/dev/PokePediax/src/assets/Images/Logo-solid.png" />
                </button>
            </div>
        </section>

        <div>
            <app-filters></app-filters>
        </div>

    </mat-drawer>

    <button class="menu" type="button" mat-icon-button (click)="drawer.toggle()">
        <i class="material-icons">arrow_forward_ios</i>
    </button>

    <div class="content">
        <router-outlet />
    </div>
</mat-drawer-container>