<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Pokemon</mat-label>
        <input type="text" placeholder="Search for a Pokemon" aria-label="Pokemon" matInput
            [formControl]="pokemonService.myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPokemonSelected($event)">
                <mat-option *ngFor="let pokemon of pokemonService.filteredOptions | async" [value]="pokemon.name">
                {{ pokemon.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>