<section>
    <div class="bt-home">
        <button [routerLink]="['']">
            <img src="https://raw.githubusercontent.com/Jepolancodlc/PokePediax/dev/PokePediax/src/assets/Images/logo-solid.svg" />
        </button>
    </div>
</section>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Search for a Pokemon" aria-label="Pokemon" matInput
            [formControl]="svcFilterService.myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPokemonSelected($event)">
            <mat-option *ngFor="let pokemon of svcFilterService.filteredOptions | async" [value]="pokemon.name">
                {{ pokemon.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<div class="image-grid">
    <label class="lb_checkbox" *ngFor="let option of svcFilterService.options" [class.selected]="option.checked" matTooltip="{{option.value | titlecase}}">
        <input type="checkbox" [(ngModel)]="option.checked" (change)="svcFilterService.updateSelectedOptions(option)" [disabled]="svcFilterService.disableCheckboxes && !option.checked">

        <div class="imagen-container">
            <img class="emblemImg" src="{{option.emblem}}" alt="{{option.value}}" width="15px">
        </div>
    </label>
</div>