.bt-home{
    width: 100%;
    margin-bottom: 10%;

    button{
      background-color: transparent;
      border-color: transparent ;
      cursor: pointer;
    }

    img{
      width: 100%;
    }:hover{
      background-color: violet;
      border-color: blueviolet ;
      cursor: pointer;
    }
  }