<div class="card" *ngIf="data" [style.border-color]="colorTipo1">

    <div class="card-header" *ngIf="data" [style.color]="colorTipo1">
        <div class="pokemon-name" *ngIf="data">{{data.name | titlecase}} </div>
        <div class="pokemon-number" *ngIf="data" [style.background-color]="colorTipo1">{{idPadStart}} </div>
    </div>

    <!-- <i class="fa-bounce"> -->
    <img class="pokemon-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{id}}.png">
    <!-- </i> -->

    <div class="card-body">
        <div class="pokemon-type" *ngIf="data"
            [style.background-color]="colorTipo1">
            <div class="pokemon-type-content">
                <i [ngClass]="'fa-solid ' + svcFilterService.getColorForType(data.types[0]).icon"></i>
                <span>{{data.types[0] | titlecase}}</span>
            </div>
        </div>
        <div class="pokemon-type" *ngIf="data && data.types[1]"
            [style.background-color]="colorTipo2">
            <div class="pokemon-type-content">
                <i [ngClass]="'fa-solid ' + svcFilterService.getColorForType(data.types[1]).icon"></i>
                <span>{{data.types[1] | titlecase}}</span>
            </div>
        </div>
    </div>
</div>