<div class="card" *ngIf="data" [style.border-color]="svcFilterService.getColorForType(data.types[0])">

    <div class="card-header" *ngIf="data" [style.color]="svcFilterService.getColorForType(data.types[0])">
        <div class="pokemon-name" *ngIf="data">{{data.name | titlecase}} </div>
        <div class="pokemon-number" *ngIf="data"   [style.background-color]="svcFilterService.getColorForType(data.types[0])">{{idPadStart}} </div>
    </div>
    <img class="pokemon-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{id}}.png">

    <div class="card-body">
        <div class="pokemon-type" *ngIf="data"
            [style.background-color]="svcFilterService.getColorForType(data.types[0])">{{data.types[0] | titlecase}}
        </div>
        <div class="pokemon-type" *ngIf="data && data.types[1]"
            [style.background-color]="svcFilterService.getColorForType(data.types[1])"> {{data.types[1] | titlecase}}
        </div>
    </div>
</div>