.card{
    width: 23%;
    height:  23%;
    display: inline-flex;
    // background-color: crimson;
    margin: 1%;
    cursor: pointer;
}

.pokeImg{
    height: 110%;
    width: 90%;
    margin-left: 4%;
}